# -- Mi Proyecto --
node_modules
scss
gulpfile.js
package.json
package-lock.json

cv.html_bak

# -- Sistemas Operativos --
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
 
# Linux
.*
!.gitignore
!.htaccess
*~
 
# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
